<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category Management</title>
    <link rel="stylesheet" href="/admin/admin-navbar.css" />
    <link rel="stylesheet" href="/admin/categoryManagement/view-category.css" />
    <%- include('../../partials/font-links.ejs') %>
  </head>
  <body>
    <%- include('../../partials/admin-navbar.ejs') %>
    <section class="cat-details">
      <div class="title">Category Management</div>
      <form
        id="edit-cat-form"
        action="/admin/edit-category/<%= categoryDetails._id %>?_method=PATCH"
        method="POST"
        enctype="multipart/form-data"
      >
        <!-- <input type="hidden" name="_method" value="PATCH" /> -->
        <div class="row-1">
          <div class="input-container">
            <label for="cat-id">Category ID</label>
            <input
              id="cat-id"
              type="text"
              disabled
              value="<%= categoryDetails._id%>"
            />
          </div>
          <div class="input-container">
            <label for="cat-name">Category name</label>
            <input
              id="cat-name"
              type="text"
              name="name"
              value="<%= categoryDetails.category_name%>"
            />
            <div class="error-container" id="cat-name-error"></div>
          </div>
        </div>
        <div class="input-container">
          <label for="cat-desc">Category description</label>
          <textarea id="cat-desc" type="text" name="desc">
<%= categoryDetails.category_desc%></textarea
          >
          <div class="error-container" id="cat-desc-error"></div>
        </div>

        <div class="input-container banner-images">
          <label for="banner-images">Add banner images</label>
          <input id="banner-images" type="file" name="images" multiple />
          <div id="image-preview" class="image-collection"></div>
          <form></form>
          <div class="button-group">
            <input
              class="confirm-button"
              id="confirm-button"
              type="submit"
              value="Confirm changes"
              form="edit-cat-form"
              disabled
            />
          </div>
          <div class="remove-banner-images-section">
            <div>Remove banner images</div>
            <div class="image-collection">
              <% if (categoryDetails.banner_images ) { %>
              <%categoryDetails.banner_images.forEach((banner, index) => { %>
              <div class="image-card">
                <img
                  src="<%= banner.filepath %>"
                  alt="<%= banner.filename %>"
                />
                <form
                  id="delete-catbanner-form<%= index %>"
                  method="POST"
                  action="/admin/delete-catbanner/<%= categoryDetails._id %>/<%= banner._id %>?_method=DELETE"
                >
                  <button form="delete-catbanner-form<%= index %>">
                    <span class="material-symbols-outlined delete-icon"
                      >delete</span
                    >
                  </button>
                </form>
              </div>
              <% }); %> <% } %>
            </div>
          </div>
        </div>
      </form>
      <div class="delete-button">
        <form
          method="POST"
          action="/admin/delete-category/<%= categoryDetails._id%>?_method=DELETE"
        >
          <!-- <input type="hidden" name="_method" value="DELETE" /> -->
          <input type="submit" id="delete-button" value="Delete category" />
        </form>
      </div>
    </section>

    <script src="/js/cust-navbar.js"></script>
    <script src="/js/view-category.js"></script>
  </body>
</html>
