<%-include("../../partials/admin-template.ejs")%>
    <title>Category Management</title>
    <link rel="stylesheet" href="/admin/categoryManagement/view-category.css" />
    <%- include('../../partials/font-links.ejs') %>
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <%- include('../../partials/admin-navbar.ejs') %>
    <section class="cat-details">
      <div class="title">Category Management</div>
      <form
        id="edit-cat-form"
        data-id = "<%= categoryDetails._id %>"
        method="POST"
        enctype="multipart/form-data"
      >
        <!-- <input type="hidden" name="_method" value="PATCH" /> -->
        <div class="row-1">
          <div class="input-container">
            <label for="cat-id">Category ID</label>
            <input
              id="cat-id"
              type="text"
              disabled
              value="<%= categoryDetails._id%>"
            />
          </div>
          <div class="input-container">
            <label for="cat-name">Category name</label>
            <input
              id="cat-name"
              type="text"
              name="name"
              value="<%= categoryDetails.category_name%>"
            />
            <div class="error-container" id="cat-name-error"></div>
          </div>
        </div>
        <div class="input-container">
          <label for="cat-desc">Category description</label>
          <textarea id="cat-desc" type="text" name="desc">
<%= categoryDetails.category_desc%></textarea
          >
          <div class="error-container" id="cat-desc-error"></div>
        </div>

        <div class="input-container banner-images">
          <label for="banner-images">Add banner images</label>
          <input id="banner-images" type="file" name="images" accept="image/*" multiple />
          <div id="image-preview" class="image-collection"></div>
          <form></form>
          <div class="button-group">
            <input
              class="confirm-button"
              id="confirm-button"
              type="submit"
              value="Confirm changes"
              form="edit-cat-form"
              disabled
            />
          </div>
          <div class="remove-banner-images-section">
            <div>Remove banner images</div>
            <div class="image-collection">
              <% if (categoryDetails.banner_images ) { %>
              <%categoryDetails.banner_images.forEach((banner, index) => { %>
              <div class="image-card">
                <img
                  src="<%= banner.filepath %>"
                  alt="<%= banner.filename %>"
                />
                <button class="delete-banner-button" data-catid="<%= categoryDetails._id %>" data-banid="<%= banner._id %>">
                  <span class="material-symbols-outlined delete-icon"
                    >delete</span
                  >
                </button>
              </div>
              <% }); %> <% } %>
            </div>
          </div>
        </div>
      </form>
      <button id="delete-button" data-id="<%= categoryDetails._id%>">Delete category</button>
    </section>

    <script src="/js/view-category.js"></script>
  </body>
</html>
