<%-include("../../partials/admin-template.ejs")%>
    <title>Order Management</title>
    <link rel="stylesheet" href="/admin/admin-navbar.css" />
    <link rel="stylesheet" href="/admin/orderManagement/order-list.css" />
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <%- include('../../partials/admin-navbar.ejs') %>
    <div class="main">
      <div class="main-left">
        <%- include('../../partials/admin-sidebar.ejs') %>
      </div>
      <div class="main-right">
        <div class="main-right-inner">
          <div class="title-row">
            <div class="title">Orders</div>
          </div>
          <table border="1" cellspacing="0" cellpadding="10">
            <thead>
              <tr>
                <th></th>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Order date</th>
                <th>Products</th>
                <th>Amount</th>
                <th>Payment Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(order => { %>
                <tr class="order-<%=order._id%>">
                  <td>
                    <a href="/admin/view-order/<%= order._id %>">
                      <span class="material-symbols-outlined">
                        open_in_new
                        </span>
                    </a>
                  </td>
                  <!-- Order ID -->
                  <td><%= order._id %></td>
        
                  <!-- Customer Name -->
                  <td><%= order.customer_id.customer_name %></td>
                  <td><%= order.createdAt %></td>
                  <!-- Product Names -->
                  <td>
                    <% order.order_items.forEach(item => { %>
                      <div class="item-card">
                        <% if (item.product_images && item.product_images.length > 0) { %>
                          <div class="product-image">
                            <% item.product_images.forEach(image => { %>
                              <img src="<%= image.filepath %>" alt="Product Image">
                            <% }) %>
                          </div>
                        <% } else { %>
                          <p>No Images Available</p>
                        <% } %>
                        <div class="product-info">
                          <p class="product-name"><%= item.product_name %></p>
                          <div class="variant-info">
                            <p><%= item.size %></p> <p><%= item.colour %></p>
                          </div>
                          <p>Quantity: <%= item.quantity %></p>
                          <div class="status-data">
                            <%= item.product_status %>
                          </div>
                          <%if(item.product_status!=="cancelled"){%>
                            <div class="status-edit-container">
                              <select class="status-input">
                                <option value="processing">Processing</option>
                                <option value="shipping">Shipping</option>
                                <option value="out for delivery">Out for delivery</option>
                                <option value="delivered">Delivered</option>
                              </select>
                              <button class="edit-status-button" data-orderid="<%= order._id %>" data-variantid="<%= item.variant_id %>">Edit</button>
                              <button class="save-status-button">Save</button>
                            </div>
                          <%}%>
                          <%if(item.product_status!=="cancelled" && order.order_items.length>1 && order.payment_status!=="failed"){%>
                            <button class="cancel-one-item" data-orderid="<%=order._id%>" data-variantid="<%=item.variant_id%>" >Cancel this item</button>
                          <%}%>
                        </div>
                      </div>
                    <% }) %>
                  </td>
        
                  <!-- Amount -->
                  <td><%= order.amount.toFixed(2) %></td>
                  <td>
                    <%= order.payment_status %>
                  </td>
                  <td>
                    <%if(!order.is_cancelled){ %>
                    <button class="cancel-order-button" data-id="<%=order._id%>">Cancel Order</button>
                    <%}%>
                  </td>
                </tr>
                
              <% }) %>
              <tr class="pagination-row">
                <td colspan="7" class="pagination-links">
                  <%if(offset>1){%>
                    <a class="prev-next-buttons" href="/admin/order-management?offset=<%= parseInt(offset)-parseInt(1) %>">&lt;Previous</a>
                  <%}else{%>
                    <a href="" class="prev-next-buttons">&lt;Previous</a>
                  <%}%>
                  <%for(let i=1;i<=pageCount;i++){%>
                    <%if(i==offset){%>
                      <a class="selected-offset" href="/admin/order-management?offset=<%= i %>"><%= i %></a>
                    <%}else{%>
                      <a  href="/admin/order-management?offset=<%= i %>"><%= i %></a>
                    <%}%>
                    
                  <%}%>
                  <%if(offset<pageCount){%>
                    <a class="prev-next-buttons" href="/admin/product-management?offset=<%= parseInt(1)+parseInt(offset) %>">Next&gt;</a>
                  <%}else{%>
                    <a href="" class="prev-next-buttons ">Next&gt;</a>
                  <%}%>
                </td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <script src="/js/order-list.js"></script>
  </body>
</html>