<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.product_name%></title>
    <%- include('../../partials/font-links.ejs') %>
    <link rel="stylesheet" href="/customer/cust-navbar.css" />
    <link rel="stylesheet" href="/customer/product/cust-product-details.css" />
    <link rel="stylesheet" href="/customer/cust-footer.css" />
  </head>
  <body>
    <%- include('../../partials/cust-navbar.ejs') %>
    <div class="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        /
        <li><a href=""><%=product.category.category_name%></a></li>
        /
        <li><a href=""><%=product.product_name%></a></li>
      </ul>
    </div>
    <section class="section-1">
      <div class="image-collection">
        <div class="image-list">
          <%product.product_images.forEach((image)=>{%>
          <img
            class="image-tile"
            src="<%=image.filepath%>"
            alt="Product image here"
          />
          <%})%>
        </div>
        <div class="big-image">
          <img id="display-image"" src="" alt="Product image here" />
        </div>
      </div>
      <div class="basic-details">
        <div class="line1">
          <div class="product-title"><%=product.product_name%></div>
          <div class="category"><%=product.category.category_name%></div>
          <div class="product-rating">
            <div class="star-rating">Rating - <%=ratingAvg%></div>
            <div class="review-count">
              (<%=product.reviews.length%> reviews)
            </div>
          </div>
        </div>
        <div class="line2">
          <div class="product-pricing">
            <div class="ov-price">₹<%=product.price%></div>
            <div class="original-price">
              ₹<%=Math.ceil(Number(product.price)*(1-(Number(product.discount))/100))%>
            </div>
            <div class="discount"><%=product.discount%>% discount!</div>
          </div>
          <div class="quantity">
            <div class="quantity-input-container">
              Quantity :
              <input type="number" />
            </div>
          </div>
          <div class="variant-cards">
            <% product.variants.forEach((variant)=>{%>
            <div class="variant-card">
              <div class="variant-card-box">
                <div class="size">Size: <%=variant.size%></div>
                <div class="colour">Colour: <%=variant.colour%></div>
              </div>
              <div class="stock-left"><%=variant.stock_quantity%> Left!</div>
            </div>
            <%})%>
          </div>
        </div>
        <div class="line3">
          <button class="add-to-cart-button">
            Add to cart<span class="material-symbols-outlined">
              shopping_cart
            </span>
          </button>
          <button class="add-to-wishlist-button">
            Add to wishlist
            <span class="material-symbols-outlined"> favorite </span>
          </button>
        </div>
      </div>
    </section>
    <section class="details-section">
      <div class="product-desc">
        <div class="product-desc-title">Product Description</div>
        <div class="product-desc-content"><%=product.product_desc%></div>
      </div>
      <div class="product-details">
        <div class="product-details-title">Product Specifications</div>
        <div class="product-details-content"><%=product.product_specs%></div>
      </div>
    </section>
    <section class="reviews-section">
      <div class="review-cards">
        <%reviews.forEach((review)=>{%> <%=review.rating%>
        <%=review.customer_id.customer_name%> <%=review.review_body%> <%})%>
      </div>
    </section>

    <section class="review-section"></section>
    <%-include('../../partials/cust-footer.ejs') %>
    <script src="/js/cust-product-details.js"></script>
    <script src="/js/cust-navbar.js"></script>
  </body>
</html>
