<%-include("../../partials/cust-template.ejs")%>
<link href="/customer/product/cust-shop.css" rel="stylesheet"/>
<link href="/customer/cust-sidebar.css" rel="stylesheet"/>
<title>OtakuVerse Shop</title>
</head>
<body>
  <%-include("../../partials/alert.ejs")%>
  <%-include("../../partials/cust-navbar.ejs")%>
  <div class="main">
    <div class="main-left"><%-include("../../partials/cust-sidebar.ejs")%></div>
    <div class="main-right">
      <div class="main-right-inner">
        <div class="right-top">
          <div class="title-row">
            Shop
            <div class="search-bar">
              <input type="text" id="search" placeholder="Search" />
              <button class="search-button">
                <span class="material-symbols-outlined">search</span>
              </button>
              <button class="clear-button">
                <span class="material-symbols-outlined">close</span>
              </button>
            </div>
          </div>
        </div>
        <div class="right-bottom">
          <div class="adv-search-section">
            <div class="sort-section">
              <div class="sort-title">Sort</div>
              <select name="" id="sort">
                <option value="popularity">Popularity </option>
                <option value="ascprice">Price: low to high</option>
                <option value="descprice">Price : high to low </option>
                <option value="avgrating">Average ratings </option>
                <option value="featured">Featured </option>
                <option value="new">New arrivals </option>
                <option value="ascname">aA - zZ </option>
                <option value="descname">zZ - aA </option>
              </select>
              <button class="sort-button">Sort</button>
            </div>
            <hr>
            <div class="filter-section">
              <div class="filter-title">Filter</div>
              <div class="filter-category">
                <div class="filter-subtitle">Categories</div>
                <ul>
                  <%categoryList.forEach((category)=>{%>
                    <li>
                
                      <input type="checkbox" name="category" value="<%=category._id%>" id="<%=category.category_name%>"/>
                      <label for="<%=category.category_name%>"><%=category.category_name%></label>
                    </li>
                  <%})%>
                </ul>
              </div>
              <button class="filter-button">Filter</button>
            </div>
          </div>
          <div class="product-section">
            <div class="product-cards"></div>
            <%if(locals.productList){%> <%productList.forEach((product,index)=>{%>
                <div class="product-cards">
                    <%let totalStock = 0;%>
                  <%if (product.variants.length > 0) {%>
                    <%product.variants.forEach((variant) => {%>
                      <%totalStock += variant.stock_quantity;%>
                    <%});%>
                  <%}%>
                  <a href="/product/<%=product._id%>">
                    <div class="product-card">
                      <div class="product-image">
                        <img
                          src="<%=product.product_images[0]?.filepath%>"
                          alt="product-image"
                        />
                      </div>
                      <div class="product-title"><%=product.product_name%></div>
                      <div class="product-rating">
                        <div class="star-rating">⭐⭐⭐⭐⭐</div>
                        <div class="review-count">(3 reviews)</div>
                      </div>
                      <div class="product-pricing">
                        <div class="ov-price">
                          ₹<%=Math.ceil(Number(product.price)*(1-(Number(product.discount))/100))%>
                          
                        </div>
                        <div class="original-price">₹<%=product.price%></div>
                        <!-- <%if(totalStock>0 && totalStock<10){%>
                          <div class="total-stock">
                            <%=totalStock%> Left!!
                          </div>
                        <%}else if(totalStock===0){%>
                          <div class="total-stock">
                            Out of stock!
                          </div>
                        <%}%> -->
                      </div>
                      <div class="total-stock"></div>
                    </div>
                  </a>
                </div>
              <%})%> <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%-include("../../partials/cust-footer.ejs")%>
  <script src="/js/cust-shop.js"></script>
</body>
</html>