<%-include("../../partials/cust-template.ejs")%>
    <title><%=product.product_name%></title>
    <link rel="stylesheet" href="/customer/product/cust-product-details.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css">
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <%- include('../../partials/cust-navbar.ejs') %>
    <div class="main">
      <div class="main-left"><%-include("../../partials/cust-sidebar.ejs")%></div>
      <div class="main-right">
        <div class="main-right-inner">
          <div class="breadcrumbs">
            <ul>
              <li><a href="/">Home</a></li>
              /
              <li><a href=""><%=product.category.category_name%></a></li>
              /
              <li><a href=""><%=product.product_name%></a></li>
            </ul>
          </div>
          <section class="section-1">
            <div class="image-collection">
              <div class="image-list">
                <% if (product.product_images.length===0) { %>
                  <img
                    class="image-tile"
                    src="https://placehold.co/590x590"
                    alt="Product image here"
                  />
                <% }else{ %>
                  <%product.product_images.forEach((image)=>{%>
                    <img
                      class="image-tile"
                      src="<%=image.filepath%>"
                      alt="Product image here"
                    />
                  <%})%>
                <% } %>
              </div>
              <div class="big-image">
                <div class="product-image-container">
                  <img id="display-image" src="" alt="Product Image" id="product-image" />
                </div>
              </div>
              <div class="zoom-result" id="zoom-result"></div>
            </div>
            <div class="basic-details">
              <div class="line1">
                <div class="product-title"><%=product.product_name%></div>
                <div class="category"><%=product.category.category_name%></div>
                <div class="product-rating">
                  <div class="star-rating">Rating - <%=ratingAvg%></div>
                  <div class="review-count">
                    (<%=product.reviews.length%> reviews)
                  </div>
                </div>
              </div>
              <div class="line2">
                <div class="product-pricing">
                  <% if (Number(product.offer_price)===Number(product.price)) { %>
                    <div class="ov-price">₹<%=product.offer_price%></div>
                  <% }else{ %>
                    <div class="ov-price">₹<%=product.offer_price%></div>
                    <div class="original-price">
                      ₹<%=product.price%>
                    </div>
                    <div class="discount"><%=product.applied_discount%>% discount!</div>
                  <% } %>
                </div>
                <%if(product.variants.length>0){%>
                <div class="quantity">
                  <div class="quantity-input-container">
                    Quantity :
                    <input type="number" id="quantity" value="1" min="1" max="5" name="quantity"/>  
                  </div>
                </div>
                <%}%>
                <div class="variant-cards">
                  <% product.variants.forEach((variant,index)=>{%>
                  <%if(variant.stock_quantity==0){%>
                  <%if(index===0){%>
                    <div class="variant-card disabled-variant selected-variant" data-id="<%=variant._id%>">
                  <%}else{%>
                    <div class="variant-card disabled-variant" data-id="<%=variant._id%>">
                  <%}%>
                    <div class="variant-card-box ">
                      <div class="size">Size: <%=variant.size%></div>
                      <div class="colour">Colour: <%=variant.colour%></div>
                    </div>
                    <div class="stock-left">Sold Out!</div>
                  </div>
                  <%}else{%>
                  <%if(index===0){%>
                    <div class="variant-card enabled-variant selected-variant" data-id="<%=variant._id%>">
                  <%}else{%>
                    <div class="variant-card enabled-variant" data-id="<%=variant._id%>">
                  <%}%>
                    <div class="variant-card-box ">
                      <div class="size">Size: <%=variant.size%></div>
                      <div class="colour">Colour: <%=variant.colour%></div>
                    </div>
                    <div class="stock-left"><%=variant.stock_quantity%> Left!</div>
                  </div>
                    <%}%>
                  <%})%>
                </div>
              </div>
              <%let totalStock = 0;%>
              <%if (product.variants.length > 0) {%>
                <%product.variants.forEach((variant) => {%>
                  <%totalStock += variant.stock_quantity;%>
                <%});%>
              <%}%>
              <%if(product.variants.length>0){%>
              <div class="line3">
                <%if(totalStock>0){%>
                <button class="add-to-cart-button" data-productid="<%=product._id%>">
                  Add to cart<span class="material-symbols-outlined">
                    shopping_cart
                  </span>
                </button>
                <%}%>
                <button class="add-to-wishlist-button" data-productid="<%=product._id%>">
                  Add to wishlist
                  <span class="material-symbols-outlined" > favorite </span>
                </button>
              </div>
              <%}%>
            </div>
          </section>
          <section class="details-section">
            <div class="product-desc">
              <div class="product-desc-title">Product Description</div>
              <div class="product-desc-content"><%=product.product_desc%></div>
            </div>
            <div class="product-details">
              <div class="product-details-title">Product Specifications</div>
              <div class="product-details-content"><%=product.product_specs%></div>
            </div>
          </section>
          <section class="reviews-section">
            <div class="title-row">
              <div class="category-title">
                Customer reviews (<%=reviews.length%> reviews)
              </div>
            </div>
            <div class="review-cards">
              <%reviews.forEach((review)=>{%>
              <div class="review-card">
                <div class="reviewer-name"><%=review.customer_id.customer_name%></div>
                <div class="review-rating">Rating: <%=review.rating%></div>
                <div class="review-body"><%=review.review_body%></div>
              </div>
              <%})%>
            </div>
          </section>
          <section class="recommended-section">
            <%if(locals.recommendedData){%>
            <div class="category-wise">
              <div class="title-row">
                <div class="category-title">Recommended products</div>
                <!-- <div class="see-more"><a href="">see more >></a></div> -->
              </div>
              <div class="product-cards">
                <%recommendedData.forEach((product, index)=>{%>
                <a href="/product/<%=product._id%>">
                  <div class="product-card">
                    <div class="product-image">
                      <img  
                        src="<%=product.product_images[0]?.filepath%>"
                        alt="product-image"
                      />
                    </div>
                    <div class="product-title"><%=product.product_name%></div>
                    <div class="product-rating">
                      <div class="star-rating">⭐⭐⭐⭐⭐</div>
                      <div class="review-count">(3 reviews)</div>
                    </div>
                    <div class="product-pricing">
                      <div class="ov-price">
                        ₹<%=product.offer_price%>
                      </div>
                      <div class="original-price">₹<%=product.price%></div>
                    </div>
                  </div>
                </a>
                <%})%>
              </div>
            </div>
            <%}%>
          </section>
        </div>
      </div>
    </div>  
    <%-include('../../partials/cust-footer.ejs') %>
    <script src="/js/cust-product-details.js"></script>
    <script src="/js/cust-navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js"></script>
  </body>
</html>
