<%- include('../../partials/admin-template.ejs') %>
    <title>Customer Management</title>
    <link rel="stylesheet" href="/admin/customerManagement/customer-list.css" />
  </head>
  <body>
    <%- include('../../partials/alert.ejs') %>
    <%- include('../../partials/admin-navbar.ejs') %>
    <div class="title-row">
      <div class="title">Customer Management</div>
      <div class="search-bar">
        <input type="text" id="search" placeholder="Search"/>
        <button class="search-button"><span class="material-symbols-outlined">
          search
          </span></button>
      </div>
      <button class="add-button">Add Customer</button>
    </div>
    <div class="customer-list">
        <table>
          <thead>
            <tr id="table-headers">
              <th>Customer ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Account status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="pagination-links">
                  <%if(offset>1){%>
                    <!-- <a class="prev-next-buttons" href="/admin/customer-management?offset=<%= parseInt(offset)-parseInt(1) %>">&lt;Previous</a> -->
                    <a class="prev-next-buttons" href="" data-offset="<%= parseInt(offset)-parseInt(1) %>">&lt;Previous</a>
                  <%}else{%>
                    <a href="" class="prev-next-buttons">&lt;Previous</a>
                  <%}%>
                  <%for(let i=1;i<=customerCount;i++){%>
                    <%if(i==offset){%>
                      <a  href="" data-offset="<%= i %>"><%= i %></a>
                    <%}else{%>
                      <a  href="" data-offset="<%= i %>"><%= i %></a>
                    <%}%>
              
                  <%}%>
                  <%if(offset<customerCount){%>
                    <a class="prev-next-buttons" href="" data-offset="<%= parseInt(1)+parseInt(offset) %>">Next&gt;</a>
                  <%}else{%>
                    <a href="" class="prev-next-buttons ">Next&gt;</a>
                  <%}%>
                </td>
              </tr>
            </tfoot>
          
        </table>
      
      
    </div>
    <div class="add-form-outer">
      <span class="material-symbols-outlined close-button"> close </span>
      <div class="add-form-inner">
        <div class="form-title">Add Customer</div>
        <form id="add-form" method="POST">
          <div class="input-container">
            <label for="fullname-input">Full name</label>
            <input id="fullname-input" class="login-input" type="text" name="name"/>
          </div>
          <div id="fullname-error" class="error-container"></div>
          <div class="input-container">
            <label for="email-input">Email</label>
            <input id="email-input" type="text" name="email"/>
          </div>
          <div id="email-error" class="error-container"></div>
          <!-- <div class="password-instructions">
            (The password should contain at least 8 characters, including
            uppercase and lowercase letters, numbers, and symbols. )
          </div> -->
          <div class="input-container">
            <label for="password-input">Password</label>
            <input
              id="password-input"
              type="password"
              name="password"
            />
          </div>
          <div id="password-error" class="error-container"></div>
          <div class="input-container">
            <label for="status-input">Account status</label>
            <select id="status-input" name="status">
              <option value="active">Active</option>
              <option value="banned">Banned</option>
            </select>
          </div>
          <div id="repassword-error" class="error-container"></div>
          <input class="submit-button" type="submit" value="SUBMIT" />
        </form>
      </div>
    </div>
    <script src="/js/customer-list.js"></script>
  </body>
</html>
