<%- include("../../partials/cust-template.ejs")%>
<link href="/css/add-form.css" rel="stylesheet"/>
<link href="/customer/order/cust-orders.css" rel="stylesheet"/>
<title>Orders</title>
</head>
<body>
  <%-include("../../partials/alert.ejs")%>
  <%-include("../../partials/cust-navbar.ejs")%>
  <div class="hidden-invoice" style="display: none;"></div>
  <div class="main">
    <div class="main-left"><%-include("../../partials/cust-sidebar.ejs")%></div>
    <div class="main-right">
      <div class="main-right-inner">
        <div class="main-title">Orders</div>
        <div class="order-list">
          <%orders.forEach((order)=>{%>
              <%const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];%>
              <%const paymentMethod = {"cod":"Cash on delivery", "razorpay":"Razorpay","wallet":"OtakuVerse wallet"}%>
              <div class="order-card">
                <div class="top-row">
                  <div class="order-date top-row-item">
                    <div class="top-row-title">Ordered on</div>
                    <div class="top-row-data"><%=order.createdAt.getDate()+" "+months[order.createdAt.getMonth()]+" "+order.createdAt.getFullYear()%></div>
                  </div>
                  <div class="payment-method top-row-item">
                    <div class="top-row-title">Payment method</div>
                    <div class="top-row-data"><%=paymentMethod[order.payment_type]%></div>
                  </div>
                  <div class="payment-status top-row-item">
                    <div class="top-row-title">Payment status</div>
                    <div class="top-row-data">
                      <%if(order.payment_status==="failed"){%>
                        <div class="status redText">Failed</div>
                      <%} else if(order.payment_status==="completed"){%>
                        <div class="status greenText">Completed</div>
                      <%} else if(order.payment_status==="pending"){%>
                        <div class="status orangeText">Pending</div>
                      <%}else{%>
                        <div class="status blackText"><%=order.payment_status%></div>
                      <%}%>
                    </div>
                  </div>
                  <div class="total-amount top-row-item">
                    <div class="top-row-title">Total amount</div>
                    <div class="top-row-data">₹<%=order.amount%></div>
                  </div>
                  <div class="delivery-date top-row-item">
                    <div class="top-row-title">Delivery on</div>
                    <div class="top-row-data">
                      <% let deliveryDate = "Cancelled" %>
                      <% if (order.delivery_date!==null) { %>
                        <% deliveryDate = order.delivery_date.getDate()+" "+months[order.delivery_date.getMonth()]+" "+order.delivery_date.getFullYear() %>
                      <% } %>
                      <%= deliveryDate%>
                    </div>
                  </div>
                  <% if (order.refunded_amount) { %>
                    <div class="refunded-amount top-row-item">
                      <div class="top-row-title">Refunded amount</div>
                      <div class="top-row-data">₹<%= order.refunded_amount %></div>
                    </div>
                  <% } %>
                </div>
                <div class="bottom-row">
                  <div class="item-cards">
                    <%let items = order.order_items%>
                                    <%items.forEach((item)=>{%>
                    <div class="item-card item-<%=item.variant_id%>">
                      <img src="<%=item.product_images[0].filepath%>" class="product-image">
                      <div class="item-info">
                        <a class="product-name" href="/product/<%=item.product_id%>"><%=item.product_name%></a>
                        <div class="variant-container">
                          <div class="variant-size">Size: <%=item.size%></div>
                          <div class="variant-colour">Colour: <%=item.colour%></div>
                          Quantity: <%=item.quantity%>
                        </div>
                        Price: ₹<%=item.price%>
                        <div class="product-status">
                          Status:
                          <%if(item.product_status==="returned"){%>
                            Returned. Processing refund.
                          <% } else if (item.product_status==="refunded") { %>
                            Returned and refunded.
                          <% } else { %>
                            <%= item.product_status %>
                           <% } %>
                        </div>
                      </div>
                      <%if((item.product_status==="processing" || item.product_status==="shipping" || item.product_status==="out for delivery") && order.order_items.length>1 && order.payment_status!=="failed"){%>
                      <button class="cancel-one-item item-card-button" data-orderid="<%=order._id%>" data-variantid="<%=item.variant_id%>" data-qty="<%=item.quantity%>">Cancel this item</button>
                      <%}%>
                      <%if(item.product_status==="delivered" && order.payment_status==="completed"){%>
                        <button class="return-one-item item-card-button" data-orderid="<%=order._id%>" data-variantid="<%=item.variant_id%>">Return this item</button>
                      <%}%>
                    </div>
                                    <%})%>
                  </div>
                  <div class="shipping-address">
                    <div class="address-card">
                      <div class="address-title">Shipping address</div>
                      <%let address = order.address%>
                      <%if(address){%>
                      <div class="address-line1"><%=address.recipient_name%></div>
                      <div class="address-line2"><%=address.apartment+", "+address.street+", "+address.city%></div>
                      <div class="address-line3"><%=address.state+", "+address.pincode%></div>
                      <div class="address-line4">Phone number: <%=address.phone_number%></div>
                      <%}%>
                    </div>
                    <div class="order-functions">
                      <%if(order.payment_status==="completed"){%>
                        <button class="invoice-button" data-id="<%=order._id%>">Download invoice</button>
                      <%}else if(order.payment_type==="razorpay" && order.payment_status==="failed"){%>
                        <button class="retry-payment-button" data-id="<%=order._id%>">Retry payment</button>
                      <%}%>
                      <% if (order.is_cancellable) { %>
                        <button class="cancel-button" data-id="<%=order._id%>">Cancel order</button>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
          <%})%>
          <%- include("../../partials/pagination.ejs")%>
        </div>
      </div>
    </div>
  </div>
  <div class="add-form-outer">
    <span class="material-symbols-outlined close-button"> close </span>
    <div class="add-form-inner">
      <div class="form-title">Return request</div>
      <form id="add-form" method="POST">
        <div class="input-container">
          <label for="reason">Provide a reason</label>
          <textarea name="reason" id="reason" style="height: 150px;"></textarea>
          <div class="error-container" id="reason-error"></div>
        </div>
        <input class="submit-button" type="submit" value="Send return request">
      </form>
    </div>
  </div>
  <%-include("../../partials/cust-footer.ejs")%>
  <script src="/js/cust-orders.js"></script>
  <script src="/js/cust-navbar.js"></script>
</body>
</html>