<%-include("../../partials/cust-template.ejs")%>
<link href="/customer/order/cust-cart.css" rel="stylesheet"/>
<link href="/customer/cust-sidebar.css" rel="stylesheet"/>
<title>OtakuVerse Cart</title>
</head>
<body>
  <%-include("../../partials/alert.ejs")%>
  <%-include("../../partials/cust-navbar.ejs")%>
  <div class="main">
    <div class="main-left"><%-include("../../partials/cust-sidebar.ejs")%></div>
    <div class="main-right">
      <div class="main-right-inner">
        <div class="title-row">Shopping Cart</div>
        <div class="cart-container">
          <div class="items-list">
            <table>
              <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Total price</th>
              </tr>
              <%items.forEach((item)=>{%>
                <tr class="item-card">
                    <%let product = item.product_id%>
                    <%let variant = item.variant_id%>
                    <td>
                      <img class="product_image" src="<%=product.product_images[0].filepath%>" alt="product_image">
                      <div class="product-name"><a href="/product/<%=product._id%>"><%=product.product_name%></a></div>
                      <div class="product-og-price"><%=product.price%></div>
                      <div class="product-ov-price"><%=product.offer_price%></div>
                      <div class="variant-colour">Colour: <%=variant.colour%></div>
                      <div class="variant-size">Size: <%=variant.size%></div>
                      <button class="remove-button" data-id="<%=item._id%>">
                        Remove
                        <span class="material-symbols-outlined">
                          remove
                        </span>
                      </button>
                      <%if(variant.stock_quantity===0){%>
                        <div class="out-of-stock">Out of stock</div>
                      <%}%>
                    </td>
                    <td>
                      <div class="quantity-container">
                        <button class="dec-button" data-productid="<%=item.product_id._id%>" data-variantid="<%=item.variant_id._id%>" >-</button>
                        <input class="quantity" value="<%=item.quantity%>" disabled/>
                        <button class="inc-button" data-productid="<%=item.product_id._id%>" data-variantid="<%=item.variant_id._id%>">+</button>
                        
                        
                      </div>
                    </td>
                    <td>
                      <div class="product-ov-price"><%=product.offer_price%></div>
                    </td>
                  
                </tr>
              <%})%>
            </table>
          </div>
        
          <div class="bill">
            
            <div class="bill-title">Bill</div>
            <%if(bill.total_quantity>0){%>
            <ul>
              <li>
                <span>Subtotal</span>
                <span id="subtotal"><%=bill.subtotal%></span>
              </li>
              <li>
                <span>Delivery Charges</span>
                <span id="delivery-charges"><%=bill.delivery_charges%></span>
              </li>
              <li>
                <span>Total</span>
                <span id="total"><%=bill.total%></span>
              </li>
              <li><span>Discount</span>
                <span id="discount"><%=bill.discount%></span>
              </li>
              <li><span>Free Delivery</span>
                <span id="free-delivery"><%=bill.free_delivery%></span>
              </li>
              <li><span>Grand Total</span>
                <span id="grand-total"><%=bill.grand_total%></span>
              </li>
              <li><span>You save</span> <span id="you-save"><%=bill.you_save%></span><span id="you-save-percent"> (<%=bill.you_save_percent%>%)</span>
                <span></span>
              </li>
            </ul>
            <a href="/checkout"><button class="checkout-button">Proceed to checkout</button></a>
            <%}%>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <%-include("../../partials/cust-footer.ejs")%>
  <script src="/js/cust-cart.js"></script>
</body>
</html>