<%-include("../../partials/cust-template.ejs")%>
<link href="/customer/home/cust-change-password.css" rel="stylesheet"/>
<link href="/customer/cust-sidebar.css" rel="stylesheet"/>
</head>
<body>
  <%-include("../../partials/alert.ejs")%>
  <%-include("../../partials/cust-navbar.ejs")%>
  <div class="main">
    <div class="main-left">
      <%-include("../../partials/cust-sidebar.ejs")%>
    </div>
    <div class="main-right">
      <div class="main-right-inner">
        <div class="main-title">Change Password</div>
        <form id="change-password-form" method="POST">
          <div class="input-container">
            <label for="currpassword">Current password</label>
            <input id="currpassword" type="password" name="currpassword"/>
            <div class="error-container" id="currpassword-error"></div>
          </div>
          <div class="password-instructions">
            (The password should contain at least 8 characters, including
            uppercase and lowercase letters, numbers, and symbols. )
          </div>
          <div class="input-container">
            <label for="newpassword">New password</label>
            <input id="newpassword" type="password" name="newpassword"/>
            <div class="error-container" id="newpassword-error"></div>
          </div>
          <div class="input-container">
            <label for="repassword">Re-enter new password</label>
            <input id="repassword" type="password" name="repassword"/>
            <div class="error-container" id="repassword-error"></div>
          </div>
          <input id="submit-button" type="submit" value="Confirm changes"/>
        </form>
      </div>
      
    </div>
  </div>
  <%-include("../../partials/cust-footer.ejs")%>
  <script src="/js/cust-sidebar.js"></script>
  <script src="/js/cust-change-password.js"></script>
</body>
</html>