<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OtakuVerse Home</title>
    <%- include('../../partials/font-links.ejs') %>
    <link rel="stylesheet" href="customer/cust-navbar.css" />
    <link rel="stylesheet" href="customer/home/cust-home.css" />
    <link rel="stylesheet" href="customer/cust-footer.css" />
  </head>
  <body>
    <%- include('../../partials/cust-navbar.ejs') %>
    <section class="banner-section">
      <div class="banner-outer">
        <div class="banner-images-outer">
          <div class="banner-images-inner">
            <img src="" alt="banner-images" />
          </div>
        </div>
        <div class="banner-text">
          <div class="banner-text-line1">Welcome</div>
          <div class="banner-text-line2">Otakus</div>
          <div class="banner-text-line3">
            “Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy tex t
            ever since the 1500s.” -Lorem Ipsum
          </div>
        </div>
      </div>
    </section>
    <section class="products-section">
      <%if(locals.displayData){%> <%displayData.forEach((data,index)=>{%>
      <div class="category-wise">
        <div class="title-row">
          <div class="category-title"><%=data.categoryInfo.category_name%></div>
          <div class="see-more"><a href="">see more >></a></div>
        </div>
        <div class="product-cards">
          <%data.productList.forEach((product, index)=>{%>
          <a href="/product/<%=product._id%>">
            <div class="product-card">
              <div class="product-image">
                <img
                  src="<%=product.product_images[0]?.filepath%>"
                  alt="product-image"
                />
              </div>
              <div class="product-title"><%=product.product_name%></div>
              <div class="product-rating">
                <div class="star-rating">⭐⭐⭐⭐⭐</div>
                <div class="review-count">(3 reviews)</div>
              </div>
              <div class="product-pricing">
                <div class="ov-price">
                  ₹<%=Math.ceil(Number(product.price)*(1-(Number(product.discount))/100))%>
                </div>
                <div class="original-price">₹<%=product.price%></div>
              </div>
            </div>
          </a>
          <%})%>
        </div>
      </div>
      <hr />
      <%})%> <%}%>
    </section>
    <%- include('../../partials/cust-footer.ejs') %>
    <script src="js/cust-navbar.js"></script>
  </body>
</html>
