<%-include("../../partials/cust-template.ejs")%>
    <title>OtakuVerse Home</title>
    <link rel="stylesheet" href="customer/home/cust-home.css" />
  </head>
  <body>
    <%- include('../../partials/cust-navbar.ejs') %>
    <%-include("../../partials/alert.ejs")%>
    <div class="main">
      <div class="main-left"><%-include("../../partials/cust-sidebar.ejs")%></div>
      <div class="main-right">
        <div class="main-right-inner">
          <section class="banner-section">
            <div class="banner-outer">
              <div class="banner-images-outer">
                <div class="banner-images-inner">
                  <img src="/img/digital-art-style-illustration-fashion-designer.jpg" class="banner-image" alt="banner-images" />
                </div>
              </div>
              <div class="banner-text">
                <div class="banner-text-line1">Welcome</div>
                <div class="banner-text-line2">Otakus</div>
                <div class="banner-text-line3">
                  Step into OtakuVerse - where your anime dreams come true! From Akatsuki-worthy apparel to Hashira-approved home decor and Titan-sized figurines, we've got your fandom covered!
                </div>
              </div>
            </div>
          </section>
          <section class="products-section">
            <div class="category-wise-container">
              <%if(locals.displayData){%> <%displayData.forEach((data,index)=>{%>
              <div class="category-wise">
                <div class="title-row">
                  <div class="category-title"><%=data.categoryInfo.category_name%></div>
                  <!-- <div class="see-more"><a href="">see more >></a></div> -->
                </div>
                <div class="product-cards">
                  <%data.productList.forEach((product, index)=>{%>
                    <%let totalStock = 0;%>
                  <%if (product.variants.length > 0) {%>
                    <%product.variants.forEach((variant) => {%>
                      <%totalStock += variant.stock_quantity;%>
                    <%});%>
                  <%}else{%>
                      <% totalStock=-1 %>
                  <% } %>
                  <a href="/product/<%=product._id%>">
                    <div class="product-card">
                      <div class="product-image">
                        <img
                          src="<%=product.product_images[0]?.filepath%>"
                          alt="product-image"
                        />
                      </div>
                      <div class="product-title"><%=product.product_name%></div>
                      <div class="product-rating">
                        <div class="star-rating">⭐⭐⭐⭐⭐</div>
                        <div class="review-count">(3 reviews)</div>
                      </div>
                      <div class="product-pricing">
                        <div class="ov-price">
                          ₹<%=product.offer_price%>
                        </div>
                        <div class="original-price">₹<%=product.price%></div>
                        
                      </div>
                      <%if(totalStock>0 && totalStock<10){%>
                        <div class="total-stock orangeText">
                          <%=totalStock%> Left!!
                        </div>
                      <%}else if(totalStock===0){%>
                        <div class="total-stock redText">
                          Out of stock!
                        </div>
                      <% } else if (totalStock===-1) { %>
                        <div class="total-stock redText">
                          Currently unavailable!
                        </div>
                      <% } %>
                    </div>
                  </a>
                  <%})%>
                </div>
              </div>
              <hr />
              <%})%> <%}%>
            </div>
          </section>
        </div>
      </div>
    </div>
    
    <%- include('../../partials/cust-footer.ejs') %>
    <script src="/js/cust-navbar.js"></script>
    <script src="/js/cust-home.js"></script>
  </body>
</html>
