<%-include("../../partials/admin-template.ejs")%>
    <title>Product Management</title>
    <link rel="stylesheet" href="/admin/productManagement/product-list.css" />
  </head>
  <body>
    <%- include('../../partials/admin-navbar.ejs') %>
    <%-include("../../partials/alert.ejs")%>
    <div class="main">
      <div class="main-left">
        <%- include('../../partials/admin-sidebar.ejs') %>
      </div>
      <div class="main-right">
        <div class="main-right-inner">
          <div class="title-row">
            <div class="title">Product Management</div>
            <button class="add-button">Add Product</button>
          </div>
          <div class="customer-list">
              <table>
                <tr id="table-headers">
                  <th></th>
                  <th>Product ID</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Visibility</th>
                  <th></th>
                </tr>
                <% if(productList.length===0){ %>
                  <tr><td colspan="6">Nothing to show here.</td></tr>
                <%}else{%>
                  <% for(let i=0;i<productList.length;i++){ %>
                    <tr>
                      <td><a href="/admin/view-product/<%= productList[i]._id %>">
                        <span class="material-symbols-outlined">
                          open_in_new
                          </span>
                      </a></td>
                      <td><%= productList[i]._id %></td>
                      <td><%= productList[i].product_name %></td>
                      <td><%= productList[i].category.category_name %></td>
                      <td><%= productList[i].is_enabled %></td>
                      <%if(productList[i].is_enabled){%>
                        <td><a class="block-button" href="/admin/disable-product/<%= productList[i]._id %>?offset=<%= offset %>">Disable</a></td>
                      <%}else{%>
                        <td><a class="unblock-button" href="/admin/enable-product/<%= productList[i]._id %>?offset=<%= offset %>">Enable</a></td>
                      <%}%>
                    </tr>
                  <%}%>
                  <tr>
                    <td colspan="6" class="pagination-links">
                      <%if(offset>1){%>
                        <a class="prev-next-buttons" href="/admin/product-management?offset=<%= parseInt(offset)-parseInt(1) %>">&lt;Previous</a>
                      <%}else{%>
                        <a href="" class="prev-next-buttons">&lt;Previous</a>
                      <%}%>
                      <%for(let i=1;i<=pageCount;i++){%>
                        <%if(i==offset){%>
                          <a class="selected-offset" href="/admin/product-management?offset=<%= i %>"><%= i %></a>
                        <%}else{%>
                          <a  href="/admin/product-management?offset=<%= i %>"><%= i %></a>
                        <%}%>
                        
                      <%}%>
                      <%if(offset<pageCount){%>
                        <a class="prev-next-buttons" href="/admin/product-management?offset=<%= parseInt(1)+parseInt(offset) %>">Next&gt;</a>
                      <%}else{%>
                        <a href="" class="prev-next-buttons ">Next&gt;</a>
                      <%}%>
                    </td>
                  </tr> 
                <%}%>
              </table>
            
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="add-form-outer">
      <span class="material-symbols-outlined close-button"> close </span>
      <div class="add-form-inner">
        <div class="form-title">Add Product</div>
        <form id="add-form" method="POST" action="/admin/add-product">
          <div class="add-form-left">
            <div class="input-container">
              <label for="name-input">Product name</label>
              <input id="name-input" class="login-input" type="text" name="name"/>
            </div>
            <div id="name-error" class="error-container"></div>
        
            <div class="input-container">
              <label for="price-input">Price (In Rupees)</label>
              <input
                id="price-input"
                type="text"
                name="price"
              />
            </div>
            <div id="price-error" class="error-container"></div>
            
            <div class="input-container">
              <label for="visibility-input">Visibility</label>
              <select id="visibility-input" name="visibility">
                  <option value="true">Enabled</option>
                  <option value="false">Disabled</option>
              </select>
            </div>
            <div id="visibility-error" class="error-container"></div>
            <div class="input-container">
              <label for="specs-input">Product Specifications</label>
              <textarea id="specs-input" name="specs"></textarea>
              
            </div>
            <div id="specs-error" class="error-container"></div>
          </div>
          <div class="add-form-right">
            <div class="input-container">
              <label for="category-input">Category</label>
              <select id="category-input" name="category">
                <% categoryList.forEach(category => { %>
                  <option value="<%= category._id %>"><%= category.category_name %></option>
                <% }); %>
              </select>
            </div>
            <div id="category-error" class="error-container"></div>
            <div class="input-container">
              <label for="discount-input">Discount (%)</label>
              <input
                id="discount-input"
                type="text"
                name="discount"
              />
            </div>
            <div id="discount-error" class="error-container"></div>
            <div class="input-container">
              <label for="desc-input">Product description</label>
              <textarea id="desc-input" name="desc"></textarea>
            </div>
            <div id="desc-error" class="error-container"></div>
            <input class="submit-button" type="submit" value="SUBMIT" />
          </div>
          
        </form>
      </div>
    </div>
    <script src="/js/product-list.js"></script>
  </body>
</html>
