<%-include("../../partials/admin-template.ejs")%>
    <title>Product Management</title>
    <link rel="stylesheet" href="/admin/admin-navbar.css" />
    <link rel="stylesheet" href="/admin/home/admin-home.css" />
    <link rel="stylesheet" href="/admin/productManagement/view-product.css" />
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <%- include('../../partials/admin-navbar.ejs') %>
    <!-- <%= productDetails %> -->
    <section class="product-details">
      <div class="title-row">
        <div class="title">Product - <%= productDetails.product_name %></div>
      </div>
      <hr />
      <div class="general-info">
        <div class="subtitle">General information</div>
        <form
          id="edit-form"
          method="POST"
          action="/admin/edit-product/<%= productDetails._id %>?_method=PATCH"
          enctype="multipart/form-data"
        >
          <div class="edit-form-top">
            <div class="edit-form-left">
              <div class="input-container">
                <label for="name-input">Product ID</label>
                <input
                  class="login-input"
                  type="text"
                  name="id"
                  disabled
                  value="<%= productDetails._id %>"
                />
              </div>
              <div class="error-container"></div>
              <div class="input-container">
                <label for="name-input">Product name</label>
                <input
                  id="name-input"
                  class="login-input"
                  type="text"
                  name="name"
                  value="<%= productDetails.product_name %>"
                />
              </div>
              <div id="name-error" class="error-container"></div>
              <div class="input-container">
                <label for="price-input">Price (In Rupees)</label>
                <input
                  id="price-input"
                  type="text"
                  name="price"
                  value="<%= productDetails.price %>"
                />
              </div>
              <div id="price-error" class="error-container"></div>
              <div class="input-container">
                <label for="desc-input">Product description</label>
                <textarea id="desc-input" name="desc" value="Hello">
            <%= productDetails.product_desc.trim() %></textarea
                >
              </div>
              <div id="desc-error" class="error-container"></div>
            </div>
            <div class="edit-form-right">
              <div class="input-container">
                <label for="category-input">Category</label>
                <select id="category-input" name="category">
                  <% categoryList.forEach((category) => { %>
                  <%if(category.category_name===productDetails.category.category_name){%>
                  <option value="<%= category._id %>" selected>
                    <%= category.category_name %>
                  </option>
                  <%}else{%>
                  <option value="<%= category._id %>">
                    <%= category.category_name %>
                  </option>
                  <%}%> <% }); %>
                </select>
              </div>
              <div id="category-error" class="error-container"></div>
              <div class="input-container">
                <label for="discount-input">Discount (%)</label>
                <input
                  id="discount-input"
                  type="text"
                  name="discount"
                  value="<%= productDetails.discount %>"
                />
              </div>
              <div id="discount-error" class="error-container"></div>
              <div class="input-container">
                <label for="visibility-input">Visibility</label>
                <select id="visibility-input" name="visibility">
                  <option id="visibility-true" value="true">Enabled</option>
                  <option id="visibility-false" value="false">Disabled</option>
                </select>
              </div>
              <div id="visibility-error" class="error-container"></div>
              <div class="input-container">
                <label for="specs-input">Product Specifications</label>
                <textarea id="specs-input" name="specs">
            <%= productDetails.product_specs.trim() %>
                </textarea>
              </div>
              <div id="specs-error" class="error-container"></div>
            </div>
          </div>
          
        </form>
        
        <form
          id="delete-form"
          method="POST"
          action="/admin/delete-product/<%=productDetails._id%>?_method=DELETE"
        ></form>
        <div class="button-group">
          <input
            class="delete-button"
            type="submit"
            value="Delete product"
            form="delete-form"
          />
          <input
            class="submit-button"
            type="submit"
            value="Save changes"
            form="edit-form"
          />
        </div>
      </div>
      <div class="input-container product-images">
        <label for="product-images">Add product images</label>
        <input id="product-images" type="file" name="images" accept="image/*" />
        <div id="image-preview" class="image-collection"></div>
        <div id="crop-modal" style="display: none;">
          <div class="modal-content">
            <img id="crop-image" alt="Crop Image" />
            <div class="crop-buttons">
              <button id="save-crop">Save Crop</button>
              <button id="cancel-crop">Cancel</button>
            </div>
          </div>
        </div>
        <button id="upload-images" data-id="<%=productDetails._id%>">Upload</button>
      </div>
      <div class="delete-images">
        <div class="subtitle">Delete images</div>
        <div class="image-collection">
          <% if (productDetails.product_images ) { %>
          <%productDetails.product_images.forEach((image, index) => { %>
          <div class="image-card">
            <img src="<%= image.filepath %>" alt="<%= image.filename %>" />
            <form
              id="delete-image-form<%= index %>"
              method="POST"
              action="/admin/delete-product-image/<%= productDetails._id %>/<%= image._id %>?_method=DELETE"
            >
              <button form="delete-image-form<%= index %>">
                <span class="material-symbols-outlined delete-icon"
                  >delete</span
                >
              </button>
            </form>
          </div>
          <% }); %> <% } %>
        </div>
      </div>
      <div class="variants">
        <div class="title-row">
          <div class="subtitle">Variants</div>
          <button class="add-button">Add Variant</button>
        </div>
        <%if(locals.variants){%>
        <div class="variant-cards">
          <%variants.variants.forEach((variant, index)=>{%>
          <div class="variant-card">
            <div class="variant-colour">Colour: <%=variant.colour%></div>
            <div class="variant-size">Size: <%=variant.size%></div>
            <div class="variant-stock-container">
              <div class="variant-stock">
                Stock:
                <div class="stock-data">
                  <%=variant.stock_quantity%>
                </div>
                <input type="text" class="stock-update-input"/>
              </div>
              <div class="stock-update-error error-container"></div>
            </div>
            
            <form
              id="<%= productDetails._id %>"
              action="/admin/delete-variant/<%= productDetails._id %>/<%=variant._id%>?_method=DELETE"
              method="POST"
            >
              <button
                class="delete-variant-button"
                form="<%= productDetails._id %>"
              >
                Delete variant
              </button>
            </form>
              <button
                class="edit-stock-button"
              >
                Edit Stock
              </button>
              <button
                class="save-stock-button"
                data-id = "<%=variant._id%>"
              >
                Save
              </button>
            
          </div>
          <%})%>
        </div>
        <%}%>
      </div>
    </section>
    <div class="add-form-outer">
      <span class="material-symbols-outlined close-button"> close </span>
      <div class="add-form-inner">
        <div class="form-title">Add Variant</div>
        <form
          id="add-form"
          method="POST"
          action="/admin/add-variant/<%=productDetails._id%>"
        >
          <div class="add-form-left">
            <div class="input-container">
              <label for="size-input">Size</label>
              <input
                id="size-input"
                class="login-input"
                type="text"
                name="size"
              />
            </div>
            <div id="size-error" class="error-container"></div>
            <div class="input-container">
              <label for="colour-input">Colour</label>
              <input id="colour-input" type="text" name="colour" />
            </div>
            <div id="colour-error" class="error-container"></div>
            <div class="input-container">
              <label for="stock-input">Stock quantity</label>
              <input id="stock-input" type="text" name="stock" />
            </div>
            <div id="stock-error" class="error-container"></div>
            <input class="submit-button" type="submit" value="SUBMIT" />
          </div>
        </form>
      </div>
    </div>
    <script src="/js/view-product.js"></script>
    <script>
      const productDetails = <%- JSON.stringify(productDetails) %>;
      if(productDetails.is_enabled){
        const trueVisiblity = document.getElementById("visibility-true");
        trueVisiblity.selected = true;
      }
      else{
        const falseVisiblity = document.getElementById("visibility-false");
        falseVisiblity.selected = true;
      }
    </script>
  </body>
</html>
